@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}

button {
  touch-action: manipulation;
}

html,
body {
  height: 100%;
  background-color: #0b0f14;
  overscroll-behavior-y: none;
}

#root {
  min-height: 100%;
  background-color: #0b0f14;
}

.safe-area {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
